NODE_ENV=production
PORT=5000
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRATION=7d
JWT_REFRESH_SECRET=Oivbyqwo4cnw9owuycnw0yn034nc484i

JWT_REFRESH_SECRET=8r57v975tOivbyqwo4cnw9owuycnw0yn034nc484i
JWT_REFRESH_EXPIRATION=1d

DATABASE_URL=postgresql://stechad_db_user:4NdTp6iQYm97YmzNofUe8AqsmmygYw5a@dpg-d3ucfchr0fns73f40hkg-a.oregon-postgres.render.com/stechad_db

EMAIL_HOST=smtp.hostinger.com
EMAIL_PORT=465
EMAIL_USER=no_reply@stechad.com
EMAIL_PASS=o4cnw9owunc484i

GOOGLE_APPLICATION_CREDENTIALS="./config/googleServiceKey.json"
GCS_BUCKET_NAME=stechad_engr_platform

UPLOAD_PATH=./uploads
MAX_FILE_SIZE=5242880

GOOGLE_CLIENT_ID=TY65F6vbyqwo4cnw9owuycnw0yn034nc484i
GOOGLE_CLIENT_SECRET=3b4q49hqtui4cnw9owuycnw0yn30q948cb0798uh